DiretorSkinner.Grafo/Connected Services/Seymour/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" />
  <xs:element name="ListarConceitos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConceitosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarConceitosResult" nillable="true" type="q1:ArrayOfConceitoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConceito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConceitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarConceitoResult" nillable="true" type="q2:ConceitoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarConceito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="conceito" nillable="true" type="q3:ConceitoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarConceitoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarConceito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="conceito" nillable="true" type="q4:ConceitoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarConceitoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDisciplinas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDisciplinasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarDisciplinasResult" nillable="true" type="q5:ArrayOfDisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDisciplinaPorTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="tipoDisciplina" nillable="true" type="q6:TipoDisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDisciplinaPorTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarDisciplinaPorTipoResult" nillable="true" type="q7:ArrayOfDisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDisciplinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarDisciplinaResult" nillable="true" type="q8:DisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="disciplina" nillable="true" type="q9:DisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarDisciplinaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="disciplina" nillable="true" type="q10:DisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarDisciplinaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarPessoasResult" nillable="true" type="q11:ArrayOfPessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoasPesquisa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoasPesquisaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarPessoasPesquisaResult" nillable="true" type="q12:ArrayOfPessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoaPorTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="tipoPessoa" nillable="true" type="q13:TipoPessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoaPorTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarPessoaPorTipoResult" nillable="true" type="q14:ArrayOfPessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarPessoaResult" nillable="true" type="q15:PessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoaPorApelido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apelido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoaPorApelidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarPessoaPorApelidoResult" nillable="true" type="q16:PessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoaPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoaPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarPessoaPorCodigoResult" nillable="true" type="q17:PessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarPessoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="pessoa" nillable="true" type="q18:PessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarPessoaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarPessoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="pessoa" nillable="true" type="q19:PessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarPessoaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoaPorTodosConceitos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoaPorTodosConceitosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarPessoaPorTodosConceitosResult" nillable="true" type="q20:ArrayOfPessoaPorConceitoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoaPorConceito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPessoaPorConceitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarPessoaPorConceitoResult" nillable="true" type="q21:ArrayOfPessoaPorConceitoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaInserirConceito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaInserirConceitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaInserirConceitoResult" nillable="true" type="q22:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaAlterarConceito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaAlterarConceitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaAlterarConceitoResult" nillable="true" type="q23:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaExcluirConceito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaExcluirConceitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaExcluirConceitoResult" nillable="true" type="q24:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaSelecionarConceito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaSelecionarConceitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaSelecionarConceitoResult" nillable="true" type="q25:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaRelatorioConceito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaRelatorioConceitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaRelatorioConceitoResult" nillable="true" type="q26:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaInserirDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaInserirDisciplinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaInserirDisciplinaResult" nillable="true" type="q27:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaAlterarDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaAlterarDisciplinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaAlterarDisciplinaResult" nillable="true" type="q28:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaExcluirDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaExcluirDisciplinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaExcluirDisciplinaResult" nillable="true" type="q29:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaSelecionarDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaSelecionarDisciplinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaSelecionarDisciplinaResult" nillable="true" type="q30:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaRelatorioDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaRelatorioDisciplinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaRelatorioDisciplinaResult" nillable="true" type="q31:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaInserirSalaDeAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaInserirSalaDeAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaInserirSalaDeAulaResult" nillable="true" type="q32:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaAlterarSalaDeAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaAlterarSalaDeAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaAlterarSalaDeAulaResult" nillable="true" type="q33:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaExcluirSalaDeAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaExcluirSalaDeAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaExcluirSalaDeAulaResult" nillable="true" type="q34:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaSelecionarSalaDeAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaSelecionarSalaDeAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaSelecionarSalaDeAulaResult" nillable="true" type="q35:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaRelatorioSalaDeAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamanho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaRelatorioSalaDeAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="CargaRelatorioSalaDeAulaResult" nillable="true" type="q36:ProcessamentoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarQtdePessoaPorTodasDisciplinas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarQtdePessoaPorTodasDisciplinasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarQtdePessoaPorTodasDisciplinasResult" nillable="true" type="q37:ArrayOfQtdePessoaPorDisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarQtdePessoaPorDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarQtdePessoaPorDisciplinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarQtdePessoaPorDisciplinaResult" nillable="true" type="q38:ArrayOfQtdePessoaPorDisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRepetenciaPorTodosTipos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRepetenciaPorTodosTiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarRepetenciaPorTodosTiposResult" nillable="true" type="q39:ArrayOfRepetenciaDeDisciplinaPorTipoPessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRepetenciaPorTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRepetenciaPorTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarRepetenciaPorTipoResult" nillable="true" type="q40:ArrayOfRepetenciaDeDisciplinaPorTipoPessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalasDeAula">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalasDeAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarSalasDeAulaResult" nillable="true" type="q41:ArrayOfSalaDeAulaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarSalaDeAulaResult" nillable="true" type="q42:SalaDeAulaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAulaPorPessoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="pessoa" nillable="true" type="q43:PessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAulaPorPessoaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarSalaDeAulaPorPessoaResult" nillable="true" type="q44:ArrayOfSalaDeAulaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAulaPorDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="disciplina" nillable="true" type="q45:DisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAulaPorDisciplinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarSalaDeAulaPorDisciplinaResult" nillable="true" type="q46:ArrayOfSalaDeAulaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAulaPorConceito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="conceito" nillable="true" type="q47:ConceitoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAulaPorConceitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarSalaDeAulaPorConceitoResult" nillable="true" type="q48:ArrayOfSalaDeAulaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAulaPorTurma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="turma" nillable="true" type="q49:TurmaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAulaPorTurmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarSalaDeAulaPorTurmaResult" nillable="true" type="q50:ArrayOfSalaDeAulaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAulaPorFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="conceito" nillable="true" type="q51:ConceitoDto" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="disciplina" nillable="true" type="q52:DisciplinaDto" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="pessoa" nillable="true" type="q53:PessoaDto" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="turma" nillable="true" type="q54:TurmaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSalaDeAulaPorFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarSalaDeAulaPorFiltrosResult" nillable="true" type="q55:ArrayOfSalaDeAulaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarSalaDeAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="SalaDeAula" nillable="true" type="q56:SalaDeAulaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarSalaDeAulaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarSalaDeAula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="SalaDeAula" nillable="true" type="q57:SalaDeAulaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarSalaDeAulaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTiposDisciplina">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTiposDisciplinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarTiposDisciplinaResult" nillable="true" type="q58:ArrayOfTipoDisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoDisciplinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarTipoDisciplinaResult" nillable="true" type="q59:TipoDisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarTipoDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="tipoDisciplina" nillable="true" type="q60:TipoDisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarTipoDisciplinaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarTipoDisciplina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="tipoDisciplina" nillable="true" type="q61:TipoDisciplinaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarTipoDisciplinaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTiposPessoa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTiposPessoaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarTiposPessoaResult" nillable="true" type="q62:ArrayOfTipoPessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoPessoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoPessoaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarTipoPessoaResult" nillable="true" type="q63:TipoPessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoPessoaPorPessoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="pessoa" nillable="true" type="q64:PessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoPessoaPorPessoaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarTipoPessoaPorPessoaResult" nillable="true" type="q65:ArrayOfTipoPessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarTipoPessoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="tipoPessoa" nillable="true" type="q66:TipoPessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarTipoPessoaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarTipoPessoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="tipoPessoa" nillable="true" type="q67:TipoPessoaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarTipoPessoaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTurmas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTurmasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="ListarTurmasResult" nillable="true" type="q68:ArrayOfTurmaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarTurma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="turma" nillable="true" type="q69:TurmaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarTurmaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarTurma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/DiretorSkinner.Grafo.Tranporte" minOccurs="0" name="turma" nillable="true" type="q70:TurmaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarTurmaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>